* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
}

/*navbar*/
.navbar {
	background-color: transparent !important;
	/*background-color: white !important;*/
	/*opacity: .8;*/
}

.navbar .navbar-brand {
	font-family: 'Condiment', cursive;
	font-size: 1.5em;
	padding-top: 10px;
	color: #390303;
	letter-spacing: 1px;
}

.navbar .navbar-brand:hover {
	transform: rotate(360deg);
	transition-duration: .5s;
	color: #390303;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
	font-size: .9em;
	color: #ffffff;
	font-weight: 550;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
	color: #751B1B;
	text-decoration: underline;
	background-color: #ffffff;
}

#one .navbar .navbar-toggler {
	background-color: #680505;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	font-size: .9em;
	color: #ffffff;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	margin-right: 20px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
	background-color: #680505;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	color: #E7C1BA;
	font-size: .9em;
	text-align: left;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	color: #751B1B;
	text-decoration: underline;
}

.navbar [class*=col] {
	text-align: right;
	background-color: #680505;;
	opacity: .9;
}
/*end of navbar*/

/*carousel*/
/*end of carousel*/

/*about section*/
#two {
	padding: 70px 50px 50px 50px;
	text-align: justify;
}

#two .row-one {
	margin-bottom: 20px;
}

#two .row-two .col {
	margin: 0 auto;
}

#two .row-two .col1 img {
	margin-bottom: 30px;
	border-radius: 10px;
}

#two .row-two .col-md-12 {
	margin: 0 auto;
	text-align: center;
}

#two .row-two #about-itadakimasu {
	text-align: justify;
}

#two .row-two #about-itadakimasu .steps {
	text-align: justify;
	list-style-position: outside;
	padding-left: 40px;
}

#about-img {
	width: 100%;
}


@media only screen and (max-width: 480px) {
	#two .row-two .col-sm-12 img {
		transform: scale(260px,156px);
	}
}



/*end of about section*/

/*cards*/
/*end of cards*/


/*footer1*/
.footer {
	background-color: #680505;
	min-height: 200px;
}

.footer [class*=col] {
	padding: 20px;
	color: #914949;
	text-align: center;
}

.footer [class*=col] h6{
	text-shadow: #000000 1px 1px;
}

.footer .row .col1 p {
	font-size: .8em;
}

.footer .row .col1 a {
	text-decoration: none;
	color: #ffffff;
}

.footer .row .col1 a:hover {
	color: #9D9C9A;
}

.footer .row .col2 .disclaimer {
	font-size: .7em;
	margin-top: 30px;
}

.footer .row .col3 p {
	font-size: .8em;
}

.col2 .fab {
	font-size: 1.5em;
	letter-spacing: 5px;
	color: #ffffff;
	padding-top: 20px;
}

.col2 .fab:hover {
	color: #9D9C9A;
}

/*end of footer1*/

/*footer2*/
.footer2 {
	min-height: 20px;
	background-color: #390303;
	color: #CA98A7;
	font-size: .7em;
	text-align: center;
}
/*end of footer2*/