html, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
}

#backtotop {
	position: fixed;
	bottom: 10px;
	color: #f2f2f2;
	background-color: #680505;
	cursor: pointer;
	right: 20px;
	z-index: 1;
	display: none;
	padding: 10px;
	border-radius: 10px;
	opacity: .9;
}

/*navbar*/
.navbar {
	background-color: transparent !important;
}

.navbar .navbar-brand {
	font-family: 'Condiment', cursive;
	font-size: 1.5em;
	padding-top: 10px;
	color: #f2f2f2;
	letter-spacing: 1px;
}

.navbar .navbar-brand:hover {
	color: #680505;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
	font-size: .9em;
	color: #f2f2f2;
	font-weight: 550;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
	color: #751B1B;
	text-decoration: underline;
	background-color: #f2f2f2;
}

#one .navbar .navbar-toggler {
	background-color: #680505;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	font-size: .9em;
	color: #f2f2f2;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
	background-color: #680505;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	color: #E7C1BA;
	font-size: .9em;
	text-align: left;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	color: #751B1B;
	text-decoration: underline;
}

.navbar [class*=col] {
	text-align: right;
	background-color: #680505;
	opacity: .8;
}

.navbar #active {
	color: black;
}

.navbar #active:hover {
	text-decoration: none;
	background-color: #680505;
}




/*end of navbar*/

/*carousel*/
/*end of carousel*/

/*cards*/
#three {
	padding: 30px;
	background-color: #f2f2f2;
}

#three h3 {
	padding: 0;
}


#three .card-deck .card .btn-light:hover {
	color: #f2f2f2;
	background-color: #680505;
}

#three a {
	text-decoration: none;
	color: #914949;
	padding: 10px;
}

#three a small:hover {
	color: #f2f2f2;
	background-color: #914949;
	border-radius: 1%;
}

#three .modal-content {
	padding: 0 30px;
	font-size: .8em;
	color: #680505;
}

#three .modal .modal-dialog .modal-header span {
	color: #680505;
}

#three .modal .modal-dialog .modal-header span:hover {
	color: #141414;
}

/*end of cards*/


/*footer1*/
.footer {
	background-color: #680505;
	min-height: 200px;
}

.footer [class*=col] {
	padding: 20px;
	color: #914949;
	text-align: center;
}

.footer [class*=col] h6{
	text-shadow: #141414 1px 1px;
}

.footer .row .col1 p {
	font-size: .8em;
}

.footer .row .col1 a {
	text-decoration: none;
	color: #f2f2f2;
}

.footer .row .col1 a:hover {
	color: #9D9C9A;
}

.footer .row .col2 .disclaimer {
	font-size: .9em;
	margin-top: 30px; 
	/*edit*/
}

.footer .row .col3 p {
	font-size: .85em;
}

.col2 .fab {
	font-size: 1.8em;
	letter-spacing: 5px;
	color: #f2f2f2;
	padding-top: 20px;
}

.col2 .fab:hover {
	color: #9D9C9A;
}

#four .footer .embed-responsive iframe {
	padding: 0 30px 20px 30px;	
	/*edit*/
}

/*end of footer1*/

/*footer2*/
.footer2 {
	min-height: 20px;
	background-color: #390303;
	color: #CA98A7;
	font-size: .7em;
	text-align: center;
}
/*end of footer2*/

@media only screen and (max-width: 450px) {
	main {
		font-size: 90%;
	}

	h3 {
		font-size: 1.3em;
	}

	#backtotop {
		font-size: .7em;
	}

	.fixed-top {
		left: 1%;
		right: 5%;
	}

	.modal {
		left: 1%;
		right: 5%;
	}

}

@media only screen and (min-width: 451px) and (max-width: 768px) {
	main {
		font-size: 80%;
	}

	#backtotop {
		font-size: .8em;
	}

	.fixed-top {
		left: 3%;
		right: 5%;
	}
}