* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #f2f2f2;
}

/*navbar*/
.navbar {
	background-color: transparent !important;
	/*background-color: #f2f2f2 !important;*/
	/*opacity: .8;*/
}

.navbar .navbar-brand {
	font-family: 'Condiment', cursive;
	font-size: 1.5em;
	padding-top: 10px;
	color: #390303;
	letter-spacing: 1px;
}

.navbar .navbar-brand:hover {
	transform: rotate(360deg);
	transition-duration: .5s;
	color: #390303;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
	font-size: .9em;
	color: #f2f2f2;
	font-weight: 550;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
	color: #751B1B;
	text-decoration: underline;
	background-color: #f2f2f2;
}

#one .navbar .navbar-toggler {
	background-color: #680505;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
	font-size: .9em;
	color: #f2f2f2;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
	margin-right: 20px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
	background-color: #680505;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	color: #E7C1BA;
	font-size: .9em;
	text-align: left;
}

.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	color: #751B1B;
	text-decoration: underline;
}

.navbar [class*=col] {
	text-align: right;
	background-color: #680505;;
	opacity: .9;
}
/*end of navbar*/

/*recipes section*/
#two {
	padding: 70px 50px 50px 50px;
	text-align: justify;
	background-color: #f2f2f2;
}

#two [class*=.col] {
	margin-top: 20px;
}

#two .card {
	border: none;
	margin: 10px;
}
/*end of recipes section*/


/*all recipes section*/

#three .all-recipes {
	padding: 50px 20px 20px 20px;
	list-style: inside;
	font-size: .8em;
}

/*end of all recipes section*/


/*footer1*/
.footer {
	background-color: #680505;
	min-height: 200px;
}

.footer [class*=col] {
	padding: 20px;
	color: #914949;
	text-align: center;
}

.footer [class*=col] h6{
	text-shadow: #141414 1px 1px;
}

.footer .row .col1 p {
	font-size: .8em;
}

.footer .row .col1 a {
	text-decoration: none;
	color: #f2f2f2;
}

.footer .row .col1 a:hover {
	color: #9D9C9A;
}

.footer .row .col2 .disclaimer {
	font-size: .7em;
	margin-top: 30px;
}

.footer .row .col3 p {
	font-size: .8em;
}

.col2 .fab {
	font-size: 1.5em;
	letter-spacing: 5px;
	color: #f2f2f2;
	padding-top: 20px;
}

.col2 .fab:hover {
	color: #9D9C9A;
}

/*end of footer1*/

/*footer2*/
.footer2 {
	min-height: 20px;
	background-color: #390303;
	color: #CA98A7;
	font-size: .7em;
	text-align: center;
}
/*end of footer2*/