* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
}

.jumbotron {
	height: 100vh;
	background-image: url(../img/landing2.jpg);
	background-repeat: none;
	background-size: cover;
	padding-top: 210px;
}

.jumbotron h1 {
	font-family: 'Condiment', cursive;
	color: #ffffff;
	font-size: 4em;
	text-shadow: #914949 2px 2px;
}

.jumbotron p {
	color: #ffffff;
}

.jumbotron .btn {
	background-color: #914949;
	color: #ffffff;
	border: none;

}

.jumbotron .btn:hover {
	background-color: #ffffff;
	color: #914949;
	border: none;
}

[class*=col] {
	border: 1px solid white;
	padding: 40px;
}

